@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s1jly5');
  src:  url('fonts/icomoon.eot?s1jly5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s1jly5') format('truetype'),
    url('fonts/icomoon.woff?s1jly5') format('woff'),
    url('fonts/icomoon.svg?s1jly5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e905";
  color: var(--Gray600);
}
.icon-file:before {
  content: "\e904";
  color: var(--Gray600);
}
.icon-code:before {
  content: "\e903";
  color: var(--Gray600);
}
.icon-view:before {
  content: "\e900";
  color: var(--Gray600);
}
.icon-search:before {
  content: "\e901";
  color: var(--Gray600);
}
.icon-download:before {
  content: "\e902";
  color: var(--Gray600);
}
