.spectrum {
--Gray33: #ffffff;
--Gray67: #fafbfc;
--Gray100: #f3f5f6;
--Gray200: #e8ebed;
--Gray300: #dde2e5;
--Gray400: #c3cbd2;
--Gray500: #a9b5be;
--Gray600: #7f909e;
--Gray700: #5c7384;
--Gray800: #334e62;
--Gray900: #1e2e39;
--Blue100: #6c961d;
--Blue200: #007b63;
--Blue300: #005772;
--Blue400: #1f3354;
}
