:root {
  --cds-editor-header-background-color: var(--spectrum-global-color-gray-500);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}
[hidden] {
  display: none !important;
}

.cds-Editor {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.cds-Editor-header {
  position: relative;
  display: flex;
  flex-direction: row;

  background-color: var(--cds-editor-header-background-color);
}
.cds-Editor-content {
  flex: 1;
  overflow-x: auto;
}
.cds-Editor-header {
  background: var(--spectrum-global-color-gray-75);
}
.cds-Editor-header:after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: var(--spectrum-global-color-gray-200);
}

.cds-Editor-JSON {
  padding: 8px 24px;
}

.cds-Editor-title,
.cds-Editor-actions {
  padding: 8px 12px;
}

.cds-Editor-title {
  flex: 1;
  padding-left: 16px;
}

.cds-Logo {
  height: 56px;
}

.cds-Logo-Type {
  fill: #21385E;
}

.spectrum-Site-title {
  font-size: 48px;
  margin-left: 12px;
}

.cds-Ribbon {
  position: fixed;
  top: 0;
  right: 0;
}

.cds-Footer {
  margin-top: 120px;
}

.cds-Sidebar {
  z-index: 1000;
  min-width: 235px;
  border-right: 1px solid var(--spectrum-global-color-gray-200);
}

.spectrum-ActionButton .icon {
  font-size: 24px;
}

.cds-Editor-menuToggle {
  display: none;
}

.spectrum-Site-overlay {
  z-index: 999;
}

.cds-Error {
  display: inline-block;
  margin: 24px;
  padding: 8px 16px;
  background: var(--spectrum-semantic-notice-color-background);
  border-radius: var(--spectrum-alias-border-radius-medium);
  color: white;
}

@media screen and (max-width: 960px) {
  .is-editing .cds-SiteHeader {
    display: none;
  }
  .cds-Editor-menuToggle {
    display: block;
  }
}
