:root {
  --cds-editor-header-background-color: var(--spectrum-global-color-gray-500);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}
[hidden] {
  display: none !important;
}

.cds-Editor {
  display: flex;
  flex-direction: column;
}
.cds-Editor-header {
  display: flex;
  flex-direction: row;

  background-color: var(--cds-editor-header-background-color);
}
.cds-Editor-content {
  flex: 1;
}
.cds-Editor-header {
  padding: 10px;
}

.cds-Editor-content {
  padding: 10px 25px;
}

.cds-Editor-title {
  flex: 1;
}

@media only screen
and (max-device-width: 812px) {

}
