.spectrum {
--Blue100: #3b86d7;
--Blue200: #3e70bb;
--Blue300: #3c5ca0;
--Blue400: #374786;
--Blue500: #2f306b;
--Blue600: #241952;
--Blue700: #110926;
--Gray100: #e5e5e8;
--Gray200: #cacad1;
--Gray300: #8e8da0;
--Gray400: #706e88;
--Gray500: #5e5a79;
--Gray600: #4c476b;
--Gray700: #110926;
--Gray800: #000000;
}
