.spectrum {
--BackgroundColor: #fefefe;
--Blue100: #388de0;
--Blue200: #3d77c3;
--Blue300: #3d61a7;
--Blue400: #394c8d;
--Blue500: #313571;
--Blue600: #271f59;
--Blue700: #1d0a44;
--Gray100: #fefefe;
--Gray200: #efeef1;
--Gray300: #d2d1d8;
--Gray400: #9492a4;
--Gray500: #76748c;
--Gray600: #63607d;
--Gray700: #514b6e;
--Gray800: #1d0a44;
--Gray900: #000000;
}
