@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,500");

/* CSS-only components */
@import "../node_modules/@adobe/spectrum-css/dist/components/vars/spectrum-global.css";
@import "../node_modules/@adobe/spectrum-css/dist/components/vars/spectrum-light.css";
@import "../node_modules/@adobe/spectrum-css/dist/components/vars/spectrum-dark.css";
@import "../node_modules/@adobe/spectrum-css/dist/components/vars/spectrum-medium.css";
@import "../node_modules/@adobe/spectrum-css/dist/components/typography/index-vars.css";
@import "../node_modules/@adobe/spectrum-css/dist/components/link/index-vars.css";
@import "../node_modules/@adobe/spectrum-css/dist/components/site/index-vars.css";

@import "./colors.css";

@import "./base.css";

@import "./sources.css";

.ca-Logo {
  max-width: var(--hero-max-width);
  margin: var(--spectrum-alias-grid-margin-medium) auto;
}

.ca-Logo--small {
  max-width: 100%;
}

.ca-Page,
.ca-Footer {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 0 var(--spectrum-alias-grid-margin-medium);
}

.ca-Sidebar {
  width: 225px;

  sp-sidenav {
    max-width: 100%;
  }
}

.ca-SocialLinks {
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: column;

  margin-top: var(--spectrum-alias-grid-margin-large);
  font-family: var(--spectrum-sociallinks-text-font-family);
}

.ca-Hero {
  display: none;
}

.ca-Landing {
  background-color: var(--BackgroundColor-dark);

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  padding: calc(var(--spectrum-alias-grid-margin-large) * 2) var(--spectrum-alias-grid-margin-large);
}

.ca-Landing-logo {
  width: 100%;
}

.ca-Home {
}

.ca-SiteHeader--dark {
  background: var(--BackgroundColor-dark);
}

.mapboxgl-map {
  height: 100%;
}

@media screen and (max-width: var(--responsive-breakpoint-mobile)) {
  .ca-Hero {
    display: initial;
  }
}
